<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/styles/single.css">
  </head>
  <body>
    <h1>{{ .Params.titolo }}</h1>
    <p class="date">{{ .Date }}</p>
    <p class="description">{{ .Params.descrizione }}</p>
    <article class="content">
      {{ .Content }}
    </article>
  </body>
</html>