<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Params.titolo }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="has-navbar-fixed-top">
    {{ partial "navbar.html" . }}
    <section class="hero">
        <div class="hero-body">
            <div class="">
                <p class="title black">
                    {{ .Params.titolo }}
                </p>
                <p class="subtitle black">
                    {{ .Params.sottotitolo }}
                </p>
            </div>
        </div>
    </section>

    <div class="separator01"></div>
    
    
    {{ range $key, $sezione := .Params.sezioni }}
    {{ if ne $key 0 }}<div class="separator01"></div>{{ end }}
    <section class="section white-block"> 
        <div class="box">
            <p class="title">{{ $sezione.titolo }}</p>
            <p>{{ $sezione.descrizione }}</p>
        </div>
    </section>
    {{ end }}
    
</body>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</html>